.calc
  background-color: white
  width: 16rem
  position: relative
  +shadow-1

  *:not(input)
    user-select: none

  input
    border: none
    width: 100%
    text-align: right
    padding: 2.5rem 1rem
    outline: none
    font-size: 20px
    box-sizing: border-box

  .calc-container
    .calc-buttons-controls
      span
        &:hover
          background-color: rgba(hsl-map($n-d),.2)

        &:active
          background-color: rgba(hsl-map($n-d),.4)

    *:not(.calc-buttons-controls > span)
      span
        cursor: pointer
        width: 4rem
        height: 4rem
        text-align: center
        line-height: 4rem
        color: white
        font-weight: 500
        font-size: 18px
        +transition(ease, fast)

        &:hover
          background-color: rgba(white,.1)

        &:active
          background-color: rgba(white,.2)

    [class^=calc-buttons-]
      width: 16rem
      flex-wrap: wrap

    .calc-buttons-operators-advanced
      background-color: desaturate(getColor($s-a, -5), 25%)

    .calc-buttons-operators-basic
      background-color: desaturate(getColor($s-a, -4), 25%)

    .calc-container-numbers-controls

      .calc-buttons-numbers
        width: 12rem
        background-color: hsl-map($n-d)
        flex-wrap: wrap-reverse

      .calc-buttons-controls
        width: 4rem
        background-color: desaturate(getColor($s-c, -3), 25%)
